/*
*	Color themes
*/
:root {
  --svg-transition: #{$svg-t};
  --general-transition: #{$bg-t}, #{$color-t}, #{$box-s-t}, #{$text-s-t},
    #{$border-t};
}

html {
  font-family: $font-family;

  &.dark {
    --bg-color: #{$gray-900};
    --bg-color-2: #{$gray-800};
    --text-color: #{$gray-200};
    --primary-color: #{$primary-color};
    --primary-color-dark: #{$primary-color-dark};
    --secondary-color: #{$secondary-color};
    --secondary-color-dark: #{$secondary-color-dark};
    --shadow-color: #{$black};
    --bg-color-alpha: #{$bg-alpha-dark};
  }

  &.light {
    --bg-color: #{$gray-400};
    --bg-color-2: #{$gray-300};
    --text-color: #{$gray-900};
    --primary-color: #{$secondary-color};
    --primary-color-dark: #{$secondary-color-dark};
    --secondary-color: #{$primary-color};
    --secondary-color-dark: #{$primary-color-dark};
    --shadow-color: #{$gray-500};
    --bg-color-alpha: #{$bg-alpha-light};
  }
}

.color-theme-1 {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: var(--general-transition);
}

.color-theme-2 {
  background-color: var(--bg-color-2);
  color: var(--text-color);
  transition: var(--general-transition);
}

.color-theme-3 {
  background-color: transparent;
  color: var(--text-color);
  transition: var(--general-transition);
}
