* {
  box-sizing: border-box;
}

body {
  transition: none !important;
}

h1,
h2,
h3 {
  font-family: "Montserrat";
}

hr {
  border: var(--primary-color) solid 1px;
}

/*
*	General classes
*/
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: $sidebar-thickness-mobile;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.flex {
  display: flex;
}

.f-center {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.f-column {
  flex-direction: column;
}

.f-wrap {
  flex-wrap: wrap;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.faded {
  opacity: 0.7;
}

.highlighted {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 90%;
    height: 2px;
    background-color: var(--primary-color);
    transition: var(--general-transition);
  }
}
