#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $sidebar-thickness-mobile;
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
  box-shadow: var(--shadow-color);
  z-index: 1;
}
