#page {
  position: absolute;
  top: $sidebar-thickness-mobile;
  right: 0;
  width: 100%;
  height: calc(100% - #{$sidebar-thickness-mobile});
  padding: 1rem;

  & > * {
    padding: 0.5rem;
    margin-top: auto;
  }

  header {
    border-bottom: var(--primary-color) 2px solid;
  }

  pre {
    padding: 0.5rem;
  }
}
