// Variables

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$font-family: "Source Code Pro", "Trebuchet MS", sans-serif;

// Transitions
$default-delay: 0.4s;
$default-easing: ease-out;

$bg-t: background-color #{$default-delay} #{$default-easing};
$color-t: color #{$default-delay} #{$default-easing};
$box-s-t: box-shadow #{$default-delay} #{$default-easing};
$text-s-t: text-shadow #{$default-delay} #{$default-easing};
$border-t: border #{$default-delay} #{$default-easing};

$svg-t: fill #{$default-delay} #{$default-easing};

// Colors
$white: #fff;
$gray-100: #fafafa;
$gray-200: #f0f0f0;
$gray-300: #e3e3e3;
$gray-400: #b9b9b9;
$gray-500: #909090;
$gray-600: #6e6e6e;
$gray-700: #4a4a4a;
$gray-800: #2f2f2f;
$gray-900: #252525;
$black: #000;

$teal: #21bba1;
$teal-dark: #286155;
$pale-red: #ba183a;
$pale-red-dark: #642026;

$bg-alpha-dark: rgba(43, 43, 43, 0.8);
$bg-alpha-light: rgba(235, 235, 235, 0.7);

$primary-color: $teal;
$primary-color-dark: $teal-dark;
$secondary-color: $pale-red;
$secondary-color-dark: $pale-red-dark;

// Sidebar
$sidebar-thickness: 16rem;
$sidebar-thickness-mobile: 4rem;
