// Import vars
@import "vars";

// Rules
@media screen and (min-width: 968px) {
  #sidebar {
    width: #{$sidebar-thickness};
    height: 100%;
    border-radius: 0 1rem 1rem 0;
  }

  #page {
    top: 0;
    width: calc(100% - #{$sidebar-thickness});
    height: 100%;
  }

  .sticky {
    top: 0;
  }
}
